body {
  width: 98%;
  height: 6000px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  background: #d8dadf;
}


@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

.warn {
  -webkit-animation-duration: 1s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.warn {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.warn2 {
  -webkit-animation-duration: 1s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.warn2 {
  -webkit-animation-name: flash;
  animation-name: flash;
}



.static.pipeline {
  width: 98%;
  height: 900px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 80px;
  background-color: #333;
  display: block;
  overflow: hidden;

}

svg {
  width: 98%;
  height: 93%;
  overflow: hidden;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: -185px;
}

.static.pipeline .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
  display: inline;
  }

.static.pipeline .status {
  height: 8px;
  width: 100%;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.static.pipeline .abstractComponent .status {
  background-color: #e67d6f;
}

.static.pipeline .notAbstractComponent .status {
  background-color: white;
}

.static.pipeline .indexedComponent .status {
  background-color: rgb(100, 234, 109);
}

.abstract-color{
  background-color: #e67d6f;

}
.non-abstract-color{
  background-color: #fff;
}

.indexed-color {
  background-color: rgb(100, 234, 109);
}

.static.pipeline .name {
  display: inline;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 29px;
  font-weight: 1000;
  margin-top: 4px;
  text-align: center;

}


.static.pipeline .queue {
  display: block;
  float: left;
  width: 300px;
  height: 20px;
  font-size: 23px;
  margin-left: 6px;
  margin-bottom: 4px;
}

.static.pipeline .node g div {
  width: 550px;
  height: max-content;
  color: #fff;
}

.static.pipeline .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.static.pipeline .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}

h1  {
  margin: -10px;
  margin-block-end: 10px;
  height:80px;
  width: 102.1%;
  background-color:#00a65a;
  color: white;
  display: block;
  text-align: left;
  line-height: 70px;
  font-size: 38px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-indent: 60px;
  padding-top: 5px;



}

h2  {
  margin-top: 60px;
  margin-bottom: 60px;
  height:100px;
  color: black;
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 1%;
  

}

.legend{
  width: 350px;
  height: 150px;
  border: solid #999;
  margin-left: 27px;
  position: relative;
}

.legend .legend-title {

  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;

}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  margin-left: 12px;
  padding: 0;
  float: left;
  list-style: none;
}
.legend .legend-scale ul li {
  font-size: 22px;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 10px;
  color: #333;
  text-indent: 10px;
  color: white;

}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: transparent;
}


.total-tasks {
  width: 325px;
  height: 220px;
  border: solid #999;
  margin-top: 5px;
  margin-left: 27px;
  position: relative;
  top: -269px;
  left: 390px;
}

.total-tasks  .title {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.total-pipelines {
  width: 350px;
  height: 180px;
  border: solid #999;
  margin-top: 5px;
  margin-left: 27px;
  position: relative;
  top: -160px;
  left: 413px;
}

.total-pipelines  .title {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}


.dynamic.pipeline {
  width: 98%;
  height: 2100px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 80px;
  background-color: #333;
  display: block;
  overflow: hidden;
  /*margin-top: -10%;*/
}

.dynamic.pipeline .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
  }

.dynamic.pipeline .status {
  height: 100%;
  width: 3%;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}


.dynamic.pipeline .name {
  display: inline;
  float: left;
  width: 100%;
  height: 26px;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  margin-top: -60px;

}

.dynamic.pipeline .queue {
  display: block;
  float: left;
  width: 300px;
  height: 20px;
  font-size: 18px;
  margin-left: 6px;
  margin-bottom: 4px;
}

.dynamic.pipeline .node g div {
  width: max-content;
  height: 80px;
  color: #fff;
}

.dynamic.pipeline .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.dynamic.pipeline .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}


.dynamic.pipeline .FAILED .status {
  background-color: #f77;
}

.dynamic.pipeline .RUNNING.warn .status {
  background-color: #80a0ec;
}

.dynamic.pipeline .RUNNING .status {
  background-color: #80a0ec;
}

.dynamic.pipeline .PENDING .status {
  background-color: #EEBB00;
}

.dynamic.pipeline .DONE .status {
  background-color: #7f7;
}

.dynamic.pipeline .NOTASSIGNED .status {
  background-color: rgb(231, 179, 231);
}


.FAILED {
  background-color: #f77;
}

.RUNNING {
  background-color: #80a0ec;
}

.PENDING {
  background-color: #EEBB00;
}

.DONE {
  background-color: #7f7;
}

.NOTASSIGNED {
  background-color: rgb(231, 179, 231);
}


.single.pipeline {
  width: 98%;
  height: 1000px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 40px;
  background-color: #333;
  overflow: hidden;
  /*margin-top: -10%;*/
}

.single.pipeline .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
  }

.single.pipeline .status {
  height: 100%;
  width: 3%;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}


.single.pipeline .name {
  display: inline;
  float: left;
  width: 100%;
  height: 26px;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  margin-top: -60px;

}

.single.pipeline .queue {
  display: block;
  float: left;
  width: 300px;
  height: 20px;
  font-size: 18px;
  margin-left: 6px;
  margin-bottom: 4px;
}

.single.pipeline .node g div {
  width: max-content;
  height: 80px;
  color: #fff;
}

.single.pipeline .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.single.pipeline .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}

.single.pipeline .FAILED .status {
  background-color: #f77;
}

.single.pipeline .RUNNING  .status {
  background-color: #80a0ec;
}
/*.single.pipeline .RUNNING.warn .status {*/
/*  background-color: #80a0ec;*/
/*}*/

.single.pipeline .PENDING .status {
  background-color: #EEBB00;
}

.single.pipeline .DONE .status {
  background-color: #7f7;
}

.single.pipeline .NOTASSIGNED .status {
  background-color: rgb(231, 179, 231);
}


.total-tasks-s {
  width: 325px;
  height: 220px;
  border: solid #999;
  margin-top: 5px;
  margin-left: 27px;
  position: relative;
  top: -269px;
  left: 390px;
}

.total-tasks-s  .title {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}