body {
  width: 98%;
  height: 3400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  background: #d8dadf;
}

.static.repo {
  width: 98%;
  height: 900px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 80px;
  background-color: #333;
  display: block;
  overflow: hidden;

}

svg {
  width: 98%;
  height: 93%;
  overflow: hidden;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: -185px;
}

.static.repo .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
  display: inline;
  }

.static.repo .status {
  height: 8px;
  width: 100%;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; 
}

.static.repo .abstractComponent .status {
  background-color: #e67d6f;
}

.static.repo .notAbstractComponent .status {
  background-color: white;
}

.static.repo .indexed .status {
  background-color: rgb(100, 234, 109);
}

.abstract-color{
  background-color: #e67d6f;

}
.non-abstract-color{
  background-color: #fff;
}

.indexed-color {
  background-color: rgb(100, 234, 109);
}

.static.repo .name {
  display: inline;
  float: left;
  width: 100%;
  height: 20px;
  font-size: 29px;
  font-weight: 1000;
  margin-top: 4px;
  text-align: center;

}


.static.repo .queue {
  display: block;
  float: left;
  width: 300px;
  height: 20px;
  font-size: 23px;
  margin-left: 6px;
  margin-bottom: 4px;
}

.static.repo .node g div {
  width: 550px;
  height: max-content;
  color: #fff;
}

.static.repo .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.static.repo .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}

h1  {
  margin: -10px;
  margin-block-end: 10px;
  height:80px;
  width: 102.1%;
  background-color:#00a65a;
  color: white;
  display: block;
  text-align: left;
  line-height: 70px;
  font-size: 38px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-indent: 60px;
  padding-top: 5px;



}

h2  {
  margin-top: 60px;
  margin-bottom: 60px;
  height:100px;
  color: black;
  display: block;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding: 1%;
  

}

.legend{
  width: 350px;
  height: 150px;
  border: solid #999;
  margin-left: 27px;
  position: relative;
}

.legend .legend-title {

  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 8px;
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-align: center;

}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  margin-left: 12px;
  padding: 0;
  float: left;
  list-style: none;
}
.legend .legend-scale ul li {
  font-size: 22px;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 10px;
  color: #333;

  text-indent: 10px;
  color: white;

}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: transparent;
}

.total-pipelines {
  width: 350px;
  height: 180px;
  border: solid #999;
  margin-top: 5px;
  margin-left: 27px;
  position: relative;
  top: -160px;
  left: 413px;
}

.total-pipelines  .title {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}


.dynamic.repo {
  width: 98%;
  height: 1700px;
  display: block;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 80px;
  background-color: #333;
  display: block;
  overflow: hidden;
  /*margin-top: -10%;*/
}

.dynamic.repo .node rect {
  stroke-width: 1.5px;
  stroke: #bbb;
  fill: #666;
  }

.dynamic.repo .status {
  height: 100%;
  width: 3%;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}


.dynamic.repo .name {
  display: inline;
  float: left;
  width: 100%;
  height: 26px;
  font-size: 30px;
  font-weight: 1000;
  text-align: center;
  margin-top: -60px;

}

.dynamic.repo .queue {
  display: block;
  float: left;
  width: 300px;
  height: 20px;
  font-size: 18px;
  margin-left: 6px;
  margin-bottom: 4px;
}

.dynamic.repo .node g div {
  width: max-content;
  height: 80px;
  color: #fff;
}

.dynamic.repo .edgeLabel text {
  width: 50px;
  fill: #fff;
}

.dynamic.repo .edgePath path {
  stroke: #999;
  stroke-width: 1.5px;
  fill: #999;
}


.dynamic.repo .FAILED .status {
  background-color: #f77;
}

.dynamic.repo .RUNNING .status {
  background-color: #80a0ec;
}

.dynamic.repo .PENDING .status {
  background-color: #EEBB00;
}

.dynamic.repo .DONE .status {
  background-color: #7f7;
}

.dynamic.repo .NOTASSIGNED .status {
  background-color: rgb(231, 179, 231);
}


.FAILED {
  background-color: #f77;
}

.RUNNING {
  background-color: #80a0ec;
}

.PENDING {
  background-color: #EEBB00;
}

.DONE {
  background-color: #7f7;
}

.NOTASSIGNED {
  background-color: rgb(231, 179, 231);
}